/* cocktails.html */
p.cocktail-name {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p.cocktail-drink {
    font-style: italic;
}

table.bg-table {
    background-image: url(../media/pics/tablebg.jpg);
    width: 100%;
    background-size: contain;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    
}

table.bg-table tr {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
}