body {
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

footer {
    display: none !important;
}

div.subtitle {
    width: 100%;
    padding: 5px 20px 5px 60px; /*top, right, bottom, left*/
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px dotted black;
}

.kipozicional a {
    display: none!important;
}

video {
    display: none;
}

a:after { content: " (" attr(href) ")";} 